In [1]:
import re, os

In [2]:
!pip install pdfplumber
import pdfplumber

Requirement already satisfied: pdfplumber in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: pdfminer.six==20211012 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (20211012)
Requirement already satisfied: Pillow>=8.4 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (9.1.0)
Requirement already satisfied: Wand>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from pdfplumber) (0.6.7)
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20211012->pdfplumber) (3.0.4)
Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20211012->pdfplumber) (36.0.2)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography->pdfminer.six==20211012->pdfplumber) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography->pdfminer.six==20211012->pdfplumber) (2.21)

##Read PDF

In [3]:
pdf = pdfplumber.open("/content/SummaryTables.pdf")

In [4]:
total_pages = len(pdf.pages)
total_pages

14

In [5]:
page_4 = pdf.pages[3]
#raw=[]
#raw.extend(page_4.extract_text().split('\n'))
raw = page_4.extract_text().replace('–', ' ').split('\n')
raw

['Dietary Reference Intakes for Calcium and Vitamin D ',
 '1106  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D',
 'Dietary Reference Intakes (DRIs): Recommended Dietary Allowances ',
 'and Adequate Intakes, Vitamins ',
 'Food and Nutrition Board, Institute of Medicine, National Academies',
 'Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Pantothenic ',
 'Life Stage  A C D E K Thiamin Riboflavin Niacin B Folate B Acid  Biotin Choline',
 '6 12',
 'Group (µg/d)a (mg/d) (µg/d)b,c (mg/d)d (µg/d) (mg/d) (mg/d) (mg/d)e (mg/d) (µg/d)f (µg/d) (mg/d) (µg/d) (mg/d)g',
 'Infants',
 '  0 6 mo 400* 40* 10* 4* 2.0* 0.2* 0.3* 2* 0.1* 65* 0.4* 1.7* 5* 125*',
 '  6 12 mo 500* 50* 10* 5* 2.5* 0.3* 0.4* 4* 0.3* 80* 0.5* 1.8* 6* 150*',
 'Children',
 '  1 3 y 300 15 15 6 30* 0.5 0.5 6 0.5 150 0.9 2* 8* 200*',
 '  4 8 y 400 25 15 7 55* 0.6 0.6 8 0.6 200 1.2 3* 12* 250*',
 'Males',
 '  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*',
 '  14 18 y 900 75 15 15 75* 1.2 1.3 16 1.3 400 2.4 5* 25* 550*',
 '  19 30 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*',
 '  31 50 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*',
 '  51 70 y 900 90 15 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*',
 '  > 70 y 900 90 20 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*',
 'Females',
 '  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*',
 '  14 18 y 700 65 15 15 75* 1.0 1.0 14 1.2 400i 2.4 5* 25* 400*',
 '  19 30 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*',
 '  31 50 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*',
 '  51 70 y 700 75 15 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*',
 '  > 70 y 700 75 20 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*',
 'Pregnancy',
 '  14 18 y 750 80 15 15 75* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*',
 '  19 30 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*',
 '  31 50 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*',
 'Lactation',
 '  14 18 y 1,200 115 15 19 75* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*',
 '  19 30 y 1,300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*',
 '  31 50 y 1,300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*',
 'NOTE: This table (taken from the DRI reports, see www.nap.edu) presents Recommended Dietary Al-',
 'lowances (RDAs) in bold type and Adequate Intakes (AIs) in ordinary type followed by an asterisk (*). ',
 'An RDA is the average daily dietary intake level sufficient to meet the nutrient requirements of nearly all ',
 '(97 98 percent) healthy individuals in a group. It is calculated from an Estimated Average Requirement ',
 '(EAR). If sufficient scientific evidence is not available to establish an EAR, and thus calculate an RDA, ',
 'an AI is usually developed. For healthy breast-fed infants, an AI is the mean intake. The AI for other life ',
 'stage and gender groups is believed to cover the needs of all healthy individuals in the groups, but lack of ',
 'data or uncertainty in the data prevent being able to specify with confidence the percentage of individuals ',
 'covered by this intake.',
 '  aAs retinol activity equivalents (RAEs). 1 RAE = 1 mg retinol, 12 mg β-carotene, 24 mg α-carotene, or 24 mg ',
 'β-cryptoxanthin. The RAE for dietary provitamin A carotenoids is two-fold greater than retinol equivalents ',
 '(REs), whereas the RAE for preformed vitamin A is the same as RE.',
 '  bAs cholecalciferol. 1 µg cholecalciferol = 40 IU vitamin D.',
 '  cUnder the assumption of minimal sunlight.',
 '  dAs α-tocopherol. α-tocopherol includes RRR-α-tocopherol, the only form of α-tocopherol that occurs ',
 'naturally in foods, and the 2R-stereoisomeric forms of α-tocopherol (RRR-, RSR-, RRS-, and RSS-α-tocoph-',
 'erol) that occur in fortified foods and supplements. It does not include the 2S-stereoisomeric forms of ',
 'α-tocopherol (SRR-, SSR-, SRS-, and SSS-α-tocopherol), also found in fortified foods and supplements.',
 '  eAs niacin equivalents (NE). 1 mg of niacin = 60 mg of tryptophan; 0 6 months = preformed niacin (not NE).',
 '  fAs dietary folate equivalents (DFE). 1 DFE = 1 µg food folate = 0.6 µg of folic acid from fortified food ',
 'or as a supplement consumed with food = 0.5 µg of a supplement taken on an empty stomach.',
 'Copyright © National Academy of Sciences. All rights reserved.']

In [6]:
raw = [i.split(',') for i in raw]
raw

[['Dietary Reference Intakes for Calcium and Vitamin D '],
 ['1106  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D'],
 ['Dietary Reference Intakes (DRIs): Recommended Dietary Allowances '],
 ['and Adequate Intakes', ' Vitamins '],
 ['Food and Nutrition Board', ' Institute of Medicine', ' National Academies'],
 ['Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Pantothenic '],
 ['Life Stage  A C D E K Thiamin Riboflavin Niacin B Folate B Acid  Biotin Choline'],
 ['6 12'],
 ['Group (µg/d)a (mg/d) (µg/d)b',
  'c (mg/d)d (µg/d) (mg/d) (mg/d) (mg/d)e (mg/d) (µg/d)f (µg/d) (mg/d) (µg/d) (mg/d)g'],
 ['Infants'],
 ['  0 6 mo 400* 40* 10* 4* 2.0* 0.2* 0.3* 2* 0.1* 65* 0.4* 1.7* 5* 125*'],
 ['  6 12 mo 500* 50* 10* 5* 2.5* 0.3* 0.4* 4* 0.3* 80* 0.5* 1.8* 6* 150*'],
 ['Children'],
 ['  1 3 y 300 15 15 6 30* 0.5 0.5 6 0.5 150 0.9 2* 8* 200*'],
 ['  4 8 y 400 25 15 7 55* 0.6 0.6 8 0.6 200 1.2 3* 12* 250*'],
 ['Males'],
 ['  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*'],
 ['  14 18 y 900 75 15 15 75* 1.2 1.3 16 1.3 400 2.4 5* 25* 550*'],
 ['  19 30 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*'],
 ['  31 50 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*'],
 ['  51 70 y 900 90 15 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*'],
 ['  > 70 y 900 90 20 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*'],
 ['Females'],
 ['  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*'],
 ['  14 18 y 700 65 15 15 75* 1.0 1.0 14 1.2 400i 2.4 5* 25* 400*'],
 ['  19 30 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  31 50 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  51 70 y 700 75 15 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*'],
 ['  > 70 y 700 75 20 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*'],
 ['Pregnancy'],
 ['  14 18 y 750 80 15 15 75* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  19 30 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  31 50 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['Lactation'],
 ['  14 18 y 1', '200 115 15 19 75* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  19 30 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  31 50 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['NOTE: This table (taken from the DRI reports',
  ' see www.nap.edu) presents Recommended Dietary Al-'],
 ['lowances (RDAs) in bold type and Adequate Intakes (AIs) in ordinary type followed by an asterisk (*). '],
 ['An RDA is the average daily dietary intake level sufficient to meet the nutrient requirements of nearly all '],
 ['(97 98 percent) healthy individuals in a group. It is calculated from an Estimated Average Requirement '],
 ['(EAR). If sufficient scientific evidence is not available to establish an EAR',
  ' and thus calculate an RDA',
  ' '],
 ['an AI is usually developed. For healthy breast-fed infants',
  ' an AI is the mean intake. The AI for other life '],
 ['stage and gender groups is believed to cover the needs of all healthy individuals in the groups',
  ' but lack of '],
 ['data or uncertainty in the data prevent being able to specify with confidence the percentage of individuals '],
 ['covered by this intake.'],
 ['  aAs retinol activity equivalents (RAEs). 1 RAE = 1 mg retinol',
  ' 12 mg β-carotene',
  ' 24 mg α-carotene',
  ' or 24 mg '],
 ['β-cryptoxanthin. The RAE for dietary provitamin A carotenoids is two-fold greater than retinol equivalents '],
 ['(REs)', ' whereas the RAE for preformed vitamin A is the same as RE.'],
 ['  bAs cholecalciferol. 1 µg cholecalciferol = 40 IU vitamin D.'],
 ['  cUnder the assumption of minimal sunlight.'],
 ['  dAs α-tocopherol. α-tocopherol includes RRR-α-tocopherol',
  ' the only form of α-tocopherol that occurs '],
 ['naturally in foods',
  ' and the 2R-stereoisomeric forms of α-tocopherol (RRR-',
  ' RSR-',
  ' RRS-',
  ' and RSS-α-tocoph-'],
 ['erol) that occur in fortified foods and supplements. It does not include the 2S-stereoisomeric forms of '],
 ['α-tocopherol (SRR-',
  ' SSR-',
  ' SRS-',
  ' and SSS-α-tocopherol)',
  ' also found in fortified foods and supplements.'],
 ['  eAs niacin equivalents (NE). 1 mg of niacin = 60 mg of tryptophan; 0 6 months = preformed niacin (not NE).'],
 ['  fAs dietary folate equivalents (DFE). 1 DFE = 1 µg food folate = 0.6 µg of folic acid from fortified food '],
 ['or as a supplement consumed with food = 0.5 µg of a supplement taken on an empty stomach.'],
 ['Copyright © National Academy of Sciences. All rights reserved.']]

In [7]:
import pandas as pd

In [8]:
raw = raw[5:37]

raw

[['Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Vitamin  Pantothenic '],
 ['Life Stage  A C D E K Thiamin Riboflavin Niacin B Folate B Acid  Biotin Choline'],
 ['6 12'],
 ['Group (µg/d)a (mg/d) (µg/d)b',
  'c (mg/d)d (µg/d) (mg/d) (mg/d) (mg/d)e (mg/d) (µg/d)f (µg/d) (mg/d) (µg/d) (mg/d)g'],
 ['Infants'],
 ['  0 6 mo 400* 40* 10* 4* 2.0* 0.2* 0.3* 2* 0.1* 65* 0.4* 1.7* 5* 125*'],
 ['  6 12 mo 500* 50* 10* 5* 2.5* 0.3* 0.4* 4* 0.3* 80* 0.5* 1.8* 6* 150*'],
 ['Children'],
 ['  1 3 y 300 15 15 6 30* 0.5 0.5 6 0.5 150 0.9 2* 8* 200*'],
 ['  4 8 y 400 25 15 7 55* 0.6 0.6 8 0.6 200 1.2 3* 12* 250*'],
 ['Males'],
 ['  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*'],
 ['  14 18 y 900 75 15 15 75* 1.2 1.3 16 1.3 400 2.4 5* 25* 550*'],
 ['  19 30 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*'],
 ['  31 50 y 900 90 15 15 120* 1.2 1.3 16 1.3 400 2.4 5* 30* 550*'],
 ['  51 70 y 900 90 15 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*'],
 ['  > 70 y 900 90 20 15 120* 1.2 1.3 16 1.7 400 2.4h 5* 30* 550*'],
 ['Females'],
 ['  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*'],
 ['  14 18 y 700 65 15 15 75* 1.0 1.0 14 1.2 400i 2.4 5* 25* 400*'],
 ['  19 30 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  31 50 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  51 70 y 700 75 15 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*'],
 ['  > 70 y 700 75 20 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*'],
 ['Pregnancy'],
 ['  14 18 y 750 80 15 15 75* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  19 30 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  31 50 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['Lactation'],
 ['  14 18 y 1', '200 115 15 19 75* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  19 30 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  31 50 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*']]

##select data

In [9]:
Female = raw[-14:-8]
Female

[['  9 13 y 600 45 15 11 60* 0.9 0.9 12 1.0 300 1.8 4* 20* 375*'],
 ['  14 18 y 700 65 15 15 75* 1.0 1.0 14 1.2 400i 2.4 5* 25* 400*'],
 ['  19 30 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  31 50 y 700 75 15 15 90* 1.1 1.1 14 1.3 400i 2.4 5* 30* 425*'],
 ['  51 70 y 700 75 15 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*'],
 ['  > 70 y 700 75 20 15 90* 1.1 1.1 14 1.5 400 2.4h 5* 30* 425*']]

In [10]:

Lactation = raw[-3:]
Lactation

[['  14 18 y 1', '200 115 15 19 75* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  19 30 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*'],
 ['  31 50 y 1', '300 120 15 19 90* 1.4 1.6 17 2.0 500 2.8 7* 35* 550*']]

In [11]:
Pregnancy = raw[-7:-4]
Pregnancy

[['  14 18 y 750 80 15 15 75* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  19 30 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*'],
 ['  31 50 y 770 85 15 15 90* 1.4 1.4 18 1.9 600j 2.6 6* 30* 450*']]

##lact

In [12]:
newlist = list()
#Iterate over mylist items
for item in Lactation:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Lact = newlist
print(Lact)

[['14', '18', '1', '200', '115', '15', '19', '75', '1.4', '1.6', '17', '2.0', '500', '2.8', '7', '35', '550'], ['19', '30', '1', '300', '120', '15', '19', '90', '1.4', '1.6', '17', '2.0', '500', '2.8', '7', '35', '550'], ['31', '50', '1', '300', '120', '15', '19', '90', '1.4', '1.6', '17', '2.0', '500', '2.8', '7', '35', '550']]

In [13]:
df = pd.DataFrame (Lact,columns=['Lower age','Upper age','Vitamin A (μg/d)','Vitamin A (μg/d)w','Vitamin C (mg/d)','Vitamin D (μg/d)','Vitamin E (mg/d)','Vitamin K(μg/d)','Thiamin (mg/d)','Riboflavin (mg/d)','Niacin (mg/d)','Vitamin B6 (mg/d)',
'Folate(μg/d)','Vitamin B12 (μg/d)','Pantothenic Acid (mg/d)','Biotin (μg/d)','Choline (mg/d)'])
df['Vitamin A (μg/d)'] = df['Vitamin A (μg/d)'] + df['Vitamin A (μg/d)w']
df = df.drop('Vitamin A (μg/d)w', 1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),Vitamin B6 (mg/d),Folate(μg/d),Vitamin B12 (μg/d),Pantothenic Acid (mg/d),Biotin (μg/d),Choline (mg/d)
0,14,18,1200,115,15,19,75,1.4,1.6,17,2.0,500,2.8,7,35,550
1,19,30,1300,120,15,19,90,1.4,1.6,17,2.0,500,2.8,7,35,550
2,31,50,1300,120,15,19,90,1.4,1.6,17,2.0,500,2.8,7,35,550

In [14]:

df =df.astype('float')
vita_lact = df
vita_lact

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),Vitamin B6 (mg/d),Folate(μg/d),Vitamin B12 (μg/d),Pantothenic Acid (mg/d),Biotin (μg/d),Choline (mg/d)
0,14.0,18.0,1200.0,115.0,15.0,19.0,75.0,1.4,1.6,17.0,2.0,500.0,2.8,7.0,35.0,550.0
1,19.0,30.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,2.0,500.0,2.8,7.0,35.0,550.0
2,31.0,50.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,2.0,500.0,2.8,7.0,35.0,550.0

##Preg

In [15]:
#Pregnancy
newlist = list()
#Iterate over mylist items
for item in Pregnancy:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 itemWords = itemWords.replace("j", '')
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Preg = newlist
print(Preg)

[['14', '18', '750', '80', '15', '15', '75', '1.4', '1.4', '18', '1.9', '600', '2.6', '6', '30', '450'], ['19', '30', '770', '85', '15', '15', '90', '1.4', '1.4', '18', '1.9', '600', '2.6', '6', '30', '450'], ['31', '50', '770', '85', '15', '15', '90', '1.4', '1.4', '18', '1.9', '600', '2.6', '6', '30', '450']]

In [21]:
df = pd.DataFrame (Preg,columns=['Lower age','Upper age','Vitamin A (μg/d)','Vitamin C (mg/d)','Vitamin D (μg/d)','Vitamin E (mg/d)','Vitamin K(μg/d)','Thiamin (mg/d)','Riboflavin (mg/d)','Niacin (mg/d)','Vitamin B6 (mg/d)',
'Folate(μg/d)','Vitamin B12 (μg/d)','Pantothenic Acid (mg/d)','Biotin (μg/d)','Choline (mg/d)'])

df =df.astype('float')
vita_preg =df
vita_preg.dtypes

Lower age                  float64
Upper age                  float64
Vitamin A (μg/d)           float64
Vitamin C (mg/d)           float64
Vitamin D (μg/d)           float64
Vitamin E (mg/d)           float64
Vitamin K(μg/d)            float64
Thiamin (mg/d)             float64
Riboflavin (mg/d)          float64
Niacin (mg/d)              float64
Vitamin B6 (mg/d)          float64
Folate(μg/d)               float64
Vitamin B12 (μg/d)         float64
Pantothenic Acid (mg/d)    float64
Biotin (μg/d)              float64
Choline (mg/d)             float64
dtype: object

##female

In [24]:
newlist = list()
#Iterate over mylist items
for item in Female:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 itemWords = itemWords.replace("h", '')
 itemWords = itemWords.replace("i", '')
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Fema = newlist
print(Fema)

[['9', '13', '600', '45', '15', '11', '60', '0.9', '0.9', '12', '1.0', '300', '1.8', '4', '20', '375'], ['14', '18', '700', '65', '15', '15', '75', '1.0', '1.0', '14', '1.2', '400', '2.4', '5', '25', '400'], ['19', '30', '700', '75', '15', '15', '90', '1.1', '1.1', '14', '1.3', '400', '2.4', '5', '30', '425'], ['31', '50', '700', '75', '15', '15', '90', '1.1', '1.1', '14', '1.3', '400', '2.4', '5', '30', '425'], ['51', '70', '700', '75', '15', '15', '90', '1.1', '1.1', '14', '1.5', '400', '2.4', '5', '30', '425'], ['>', '70', '700', '75', '20', '15', '90', '1.1', '1.1', '14', '1.5', '400', '2.4', '5', '30', '425']]

In [25]:
df = pd.DataFrame (Fema,columns=['Lower age','Upper age','Vitamin A (μg/d)','Vitamin C (mg/d)','Vitamin D (μg/d)','Vitamin E (mg/d)','Vitamin K(μg/d)','Thiamin (mg/d)','Riboflavin (mg/d)','Niacin (mg/d)','Vitamin B6 (mg/d)',
'Folate(μg/d)','Vitamin B12 (μg/d)','Pantothenic Acid (mg/d)','Biotin (μg/d)','Choline (mg/d)'])
df['Lower age'][5] = 71
df['Upper age'][5] = 180
df = df.astype('float',errors='raise')
vita_female =df
vita_female.dtypes

Lower age                  float64
Upper age                  float64
Vitamin A (μg/d)           float64
Vitamin C (mg/d)           float64
Vitamin D (μg/d)           float64
Vitamin E (mg/d)           float64
Vitamin K(μg/d)            float64
Thiamin (mg/d)             float64
Riboflavin (mg/d)          float64
Niacin (mg/d)              float64
Vitamin B6 (mg/d)          float64
Folate(μg/d)               float64
Vitamin B12 (μg/d)         float64
Pantothenic Acid (mg/d)    float64
Biotin (μg/d)              float64
Choline (mg/d)             float64
dtype: object

In [26]:
vita_female

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),Vitamin B6 (mg/d),Folate(μg/d),Vitamin B12 (μg/d),Pantothenic Acid (mg/d),Biotin (μg/d),Choline (mg/d)
0,9.0,13.0,600.0,45.0,15.0,11.0,60.0,0.9,0.9,12.0,1.0,300.0,1.8,4.0,20.0,375.0
1,14.0,18.0,700.0,65.0,15.0,15.0,75.0,1.0,1.0,14.0,1.2,400.0,2.4,5.0,25.0,400.0
2,19.0,30.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,1.3,400.0,2.4,5.0,30.0,425.0
3,31.0,50.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,1.3,400.0,2.4,5.0,30.0,425.0
4,51.0,70.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,1.5,400.0,2.4,5.0,30.0,425.0
5,71.0,180.0,700.0,75.0,20.0,15.0,90.0,1.1,1.1,14.0,1.5,400.0,2.4,5.0,30.0,425.0

#Macronutrients:

In [31]:
page_8 = pdf.pages[7]
#raw=[]
#raw.extend(page_4.extract_text().split('\n'))
raw = page_8.extract_text().replace('–', ' ').split('\n')
raw

['Dietary Reference Intakes for Calcium and Vitamin D ',
 '1110  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D',
 'Dietary Reference Intakes (DRIs): Recommended Dietary Allowances ',
 'and Adequate Intakes, Total Water and Macronutrients',
 'Food and Nutrition Board, Institute of Medicine, National Academies',
 'Total  Total  Linoleic  α-Linolenic ',
 'Life Stage Watera Carbohydrate Fiber Fat Acid Acid Proteinb',
 'Group (L/d) (g/d) (g/d) (g/d) (g/d) (g/d) (g/d)',
 'Infants',
 '  0 6 mo 0.7* 60* ND 31* 4.4* 0.5* 9.1*',
 '  6 12 mo 0.8* 95* ND 30* 4.6* 0.5* 11.0',
 'Children',
 '  1 3 y 1.3* 130 19* NDc 7* 0.7* 13',
 '  4 8 y 1.7* 130 25* ND 10* 0.9* 19',
 'Males',
 '  9 13 y 2.4* 130 31* ND 12* 1.2* 34',
 '  14 18 y 3.3* 130 38* ND 16* 1.6* 52',
 '  19 30 y 3.7* 130 38* ND 17* 1.6* 56',
 '  31 50 y 3.7* 130 38* ND 17* 1.6* 56',
 '  51 70 y 3.7* 130 30* ND 14* 1.6* 56',
 '  > 70 y 3.7* 130 30* ND 14* 1.6* 56',
 'Females',
 '  9 13 y 2.1* 130 26* ND 10* 1.0* 34',
 '  14 18 y 2.3* 130 26* ND 11* 1.1* 46',
 '  19 30 y 2.7* 130 25* ND 12* 1.1* 46',
 '  31 50 y 2.7* 130 25* ND 12* 1.1* 46',
 '  51 70 y 2.7* 130 21* ND 11* 1.1* 46',
 '  > 70 y 2.7* 130 21* ND 11* 1.1* 46',
 'Pregnancy',
 '  14 18 y 3.0* 175 28* ND 13* 1.4* 71',
 '  19 30 y 3.0* 175 28* ND 13* 1.4* 71',
 '  31 50 y 3.0* 175 28* ND 13* 1.4* 71',
 'Lactation',
 '  14 18 3.8* 210 29* ND 13* 1.3* 71',
 '  19 30 y 3.8* 210 29* ND 13* 1.3* 71',
 '  31 50 y 3.8* 210 29* ND 13* 1.3* 71',
 'NOTE: This table (take from the DRI reports, see www.nap.edu) presents Recommended ',
 'Dietary Allowances (RDA) in bold type and Adequate Intakes (AI) in ordinary type fol-',
 'lowed by an asterisk (*). An RDA is the average daily dietary intake level sufficient to meet ',
 'the nutrient requirements of nearly all (97 98 percent) healthy individuals in a group. It is ',
 'calculated from an Estimated Average Requirement (EAR). If sufficient scientific evidence is ',
 'not available to establish an EAR, and thus calculate an RDA, an AI is usually developed. For ',
 'healthy breast-fed infants, an AI is the mean intake. The AI for other life stage and gender ',
 'groups is believed to cover the needs of all healthy individuals in the groups, but lack of data ',
 'or uncertainty in the data prevent being able to specify with confidence the percentage of ',
 'individuals covered by this intake.',
 '  aTotal water includes all water contained in food, beverages, and drinking water.',
 '  bBased on g protein per kg of body weight for the reference body weight, e.g., for adults ',
 '0.8 g/kg body weight for the reference body weight.',
 '  cNot determined.',
 'SOURCE: Dietary Reference Intakes for Energy, Carbohydrate, Fiber, Fat, Fatty Acids, Cholesterol, ',
 'Protein, and Amino Acids (2002/2005) and Dietary Reference Intakes for Water, Potassium, Sodium, ',
 'Chloride, and Sulfate (2005). The report may be accessed via www.nap.edu.',
 'Copyright © National Academy of Sciences. All rights reserved.']

In [32]:
raw = [i.split(',') for i in raw]
raw

[['Dietary Reference Intakes for Calcium and Vitamin D '],
 ['1110  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D'],
 ['Dietary Reference Intakes (DRIs): Recommended Dietary Allowances '],
 ['and Adequate Intakes', ' Total Water and Macronutrients'],
 ['Food and Nutrition Board', ' Institute of Medicine', ' National Academies'],
 ['Total  Total  Linoleic  α-Linolenic '],
 ['Life Stage Watera Carbohydrate Fiber Fat Acid Acid Proteinb'],
 ['Group (L/d) (g/d) (g/d) (g/d) (g/d) (g/d) (g/d)'],
 ['Infants'],
 ['  0 6 mo 0.7* 60* ND 31* 4.4* 0.5* 9.1*'],
 ['  6 12 mo 0.8* 95* ND 30* 4.6* 0.5* 11.0'],
 ['Children'],
 ['  1 3 y 1.3* 130 19* NDc 7* 0.7* 13'],
 ['  4 8 y 1.7* 130 25* ND 10* 0.9* 19'],
 ['Males'],
 ['  9 13 y 2.4* 130 31* ND 12* 1.2* 34'],
 ['  14 18 y 3.3* 130 38* ND 16* 1.6* 52'],
 ['  19 30 y 3.7* 130 38* ND 17* 1.6* 56'],
 ['  31 50 y 3.7* 130 38* ND 17* 1.6* 56'],
 ['  51 70 y 3.7* 130 30* ND 14* 1.6* 56'],
 ['  > 70 y 3.7* 130 30* ND 14* 1.6* 56'],
 ['Females'],
 ['  9 13 y 2.1* 130 26* ND 10* 1.0* 34'],
 ['  14 18 y 2.3* 130 26* ND 11* 1.1* 46'],
 ['  19 30 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  31 50 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  51 70 y 2.7* 130 21* ND 11* 1.1* 46'],
 ['  > 70 y 2.7* 130 21* ND 11* 1.1* 46'],
 ['Pregnancy'],
 ['  14 18 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  19 30 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  31 50 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['Lactation'],
 ['  14 18 3.8* 210 29* ND 13* 1.3* 71'],
 ['  19 30 y 3.8* 210 29* ND 13* 1.3* 71'],
 ['  31 50 y 3.8* 210 29* ND 13* 1.3* 71'],
 ['NOTE: This table (take from the DRI reports',
  ' see www.nap.edu) presents Recommended '],
 ['Dietary Allowances (RDA) in bold type and Adequate Intakes (AI) in ordinary type fol-'],
 ['lowed by an asterisk (*). An RDA is the average daily dietary intake level sufficient to meet '],
 ['the nutrient requirements of nearly all (97 98 percent) healthy individuals in a group. It is '],
 ['calculated from an Estimated Average Requirement (EAR). If sufficient scientific evidence is '],
 ['not available to establish an EAR',
  ' and thus calculate an RDA',
  ' an AI is usually developed. For '],
 ['healthy breast-fed infants',
  ' an AI is the mean intake. The AI for other life stage and gender '],
 ['groups is believed to cover the needs of all healthy individuals in the groups',
  ' but lack of data '],
 ['or uncertainty in the data prevent being able to specify with confidence the percentage of '],
 ['individuals covered by this intake.'],
 ['  aTotal water includes all water contained in food',
  ' beverages',
  ' and drinking water.'],
 ['  bBased on g protein per kg of body weight for the reference body weight',
  ' e.g.',
  ' for adults '],
 ['0.8 g/kg body weight for the reference body weight.'],
 ['  cNot determined.'],
 ['SOURCE: Dietary Reference Intakes for Energy',
  ' Carbohydrate',
  ' Fiber',
  ' Fat',
  ' Fatty Acids',
  ' Cholesterol',
  ' '],
 ['Protein',
  ' and Amino Acids (2002/2005) and Dietary Reference Intakes for Water',
  ' Potassium',
  ' Sodium',
  ' '],
 ['Chloride',
  ' and Sulfate (2005). The report may be accessed via www.nap.edu.'],
 ['Copyright © National Academy of Sciences. All rights reserved.']]

In [35]:
raw = raw[5:36]
raw

[['Total  Total  Linoleic  α-Linolenic '],
 ['Life Stage Watera Carbohydrate Fiber Fat Acid Acid Proteinb'],
 ['Group (L/d) (g/d) (g/d) (g/d) (g/d) (g/d) (g/d)'],
 ['Infants'],
 ['  0 6 mo 0.7* 60* ND 31* 4.4* 0.5* 9.1*'],
 ['  6 12 mo 0.8* 95* ND 30* 4.6* 0.5* 11.0'],
 ['Children'],
 ['  1 3 y 1.3* 130 19* NDc 7* 0.7* 13'],
 ['  4 8 y 1.7* 130 25* ND 10* 0.9* 19'],
 ['Males'],
 ['  9 13 y 2.4* 130 31* ND 12* 1.2* 34'],
 ['  14 18 y 3.3* 130 38* ND 16* 1.6* 52'],
 ['  19 30 y 3.7* 130 38* ND 17* 1.6* 56'],
 ['  31 50 y 3.7* 130 38* ND 17* 1.6* 56'],
 ['  51 70 y 3.7* 130 30* ND 14* 1.6* 56'],
 ['  > 70 y 3.7* 130 30* ND 14* 1.6* 56'],
 ['Females'],
 ['  9 13 y 2.1* 130 26* ND 10* 1.0* 34'],
 ['  14 18 y 2.3* 130 26* ND 11* 1.1* 46'],
 ['  19 30 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  31 50 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  51 70 y 2.7* 130 21* ND 11* 1.1* 46'],
 ['  > 70 y 2.7* 130 21* ND 11* 1.1* 46'],
 ['Pregnancy'],
 ['  14 18 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  19 30 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  31 50 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['Lactation'],
 ['  14 18 3.8* 210 29* ND 13* 1.3* 71'],
 ['  19 30 y 3.8* 210 29* ND 13* 1.3* 71'],
 ['  31 50 y 3.8* 210 29* ND 13* 1.3* 71']]

##select

In [36]:
Female = raw[-14:-8]
Female

[['  9 13 y 2.1* 130 26* ND 10* 1.0* 34'],
 ['  14 18 y 2.3* 130 26* ND 11* 1.1* 46'],
 ['  19 30 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  31 50 y 2.7* 130 25* ND 12* 1.1* 46'],
 ['  51 70 y 2.7* 130 21* ND 11* 1.1* 46'],
 ['  > 70 y 2.7* 130 21* ND 11* 1.1* 46']]

In [39]:

Lactation = raw[-3:]
Lactation

[['  14 18 3.8* 210 29* ND 13* 1.3* 71'],
 ['  19 30 y 3.8* 210 29* ND 13* 1.3* 71'],
 ['  31 50 y 3.8* 210 29* ND 13* 1.3* 71']]

In [38]:
Pregnancy = raw[-7:-4]
Pregnancy

[['  14 18 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  19 30 y 3.0* 175 28* ND 13* 1.4* 71'],
 ['  31 50 y 3.0* 175 28* ND 13* 1.4* 71']]

##lact

In [40]:
newlist = list()
#Iterate over mylist items
for item in Lactation:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Lact = newlist
print(Lact)

[['14', '18', '3.8', '210', '29', 'ND', '13', '1.3', '71'], ['19', '30', '3.8', '210', '29', 'ND', '13', '1.3', '71'], ['31', '50', '3.8', '210', '29', 'ND', '13', '1.3', '71']]

In [46]:
df = pd.DataFrame (Lact,columns=['Lower age','Upper age','Total Water (L/d)','Carbohydrate (g/d)','Total Fiber (g/d)','Fat (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)'])

df

,Lower age,Upper age,Total Water (L/d),Carbohydrate (g/d),Total Fiber (g/d),Fat (g/d),Linoleic Acid (g/d),a-Linolenic Acid (g/d),Protein (g/d)
0,14,18,3.8,210,29,ND,13,1.3,71
1,19,30,3.8,210,29,ND,13,1.3,71
2,31,50,3.8,210,29,ND,13,1.3,71

In [48]:
for col in ['Lower age', 'Upper age', 'Total Water (L/d)', 'Carbohydrate (g/d)','Total Fiber (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)']:
    df[col] = df[col].astype('float')
df.dtypes

Lower age                 float64
Upper age                 float64
Total Water (L/d)         float64
Carbohydrate (g/d)        float64
Total Fiber (g/d)         float64
Fat (g/d)                  object
Linoleic Acid (g/d)       float64
a-Linolenic Acid (g/d)    float64
Protein (g/d)             float64
dtype: object

In [49]:
macr_lact = df
macr_lact

,Lower age,Upper age,Total Water (L/d),Carbohydrate (g/d),Total Fiber (g/d),Fat (g/d),Linoleic Acid (g/d),a-Linolenic Acid (g/d),Protein (g/d)
0,14.0,18.0,3.8,210.0,29.0,ND,13.0,1.3,71.0
1,19.0,30.0,3.8,210.0,29.0,ND,13.0,1.3,71.0
2,31.0,50.0,3.8,210.0,29.0,ND,13.0,1.3,71.0

##Preg

In [50]:
newlist = list()
#Iterate over mylist items
for item in Pregnancy:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Preg = newlist
print(Preg)

[['14', '18', '3.0', '175', '28', 'ND', '13', '1.4', '71'], ['19', '30', '3.0', '175', '28', 'ND', '13', '1.4', '71'], ['31', '50', '3.0', '175', '28', 'ND', '13', '1.4', '71']]

In [51]:
df = pd.DataFrame (Preg,columns=['Lower age','Upper age','Total Water (L/d)','Carbohydrate (g/d)','Total Fiber (g/d)','Fat (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)'])
for col in ['Lower age', 'Upper age', 'Total Water (L/d)', 'Carbohydrate (g/d)','Total Fiber (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)']:
    df[col] = df[col].astype('float')
df.dtypes

Lower age                 float64
Upper age                 float64
Total Water (L/d)         float64
Carbohydrate (g/d)        float64
Total Fiber (g/d)         float64
Fat (g/d)                  object
Linoleic Acid (g/d)       float64
a-Linolenic Acid (g/d)    float64
Protein (g/d)             float64
dtype: object

In [52]:
macr_preg = df
macr_preg

,Lower age,Upper age,Total Water (L/d),Carbohydrate (g/d),Total Fiber (g/d),Fat (g/d),Linoleic Acid (g/d),a-Linolenic Acid (g/d),Protein (g/d)
0,14.0,18.0,3.0,175.0,28.0,ND,13.0,1.4,71.0
1,19.0,30.0,3.0,175.0,28.0,ND,13.0,1.4,71.0
2,31.0,50.0,3.0,175.0,28.0,ND,13.0,1.4,71.0

##Female

In [53]:
newlist = list()
#Iterate over mylist items
for item in Female:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 itemWords = itemWords.replace("h", '')
 itemWords = itemWords.replace("i", '')
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Fema = newlist
print(Fema)

[['9', '13', '2.1', '130', '26', 'ND', '10', '1.0', '34'], ['14', '18', '2.3', '130', '26', 'ND', '11', '1.1', '46'], ['19', '30', '2.7', '130', '25', 'ND', '12', '1.1', '46'], ['31', '50', '2.7', '130', '25', 'ND', '12', '1.1', '46'], ['51', '70', '2.7', '130', '21', 'ND', '11', '1.1', '46'], ['>', '70', '2.7', '130', '21', 'ND', '11', '1.1', '46']]

In [54]:
df = pd.DataFrame (Fema,columns=['Lower age','Upper age','Total Water (L/d)','Carbohydrate (g/d)','Total Fiber (g/d)','Fat (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)'])
df['Lower age'][5] = 71
df['Upper age'][5] = 180
for col in ['Lower age', 'Upper age', 'Total Water (L/d)', 'Carbohydrate (g/d)','Total Fiber (g/d)','Linoleic Acid (g/d)','a-Linolenic Acid (g/d)','Protein (g/d)']:
    df[col] = df[col].astype('float')
df.dtypes

Lower age                 float64
Upper age                 float64
Total Water (L/d)         float64
Carbohydrate (g/d)        float64
Total Fiber (g/d)         float64
Fat (g/d)                  object
Linoleic Acid (g/d)       float64
a-Linolenic Acid (g/d)    float64
Protein (g/d)             float64
dtype: object

In [55]:
macr_female = df
macr_female

,Lower age,Upper age,Total Water (L/d),Carbohydrate (g/d),Total Fiber (g/d),Fat (g/d),Linoleic Acid (g/d),a-Linolenic Acid (g/d),Protein (g/d)
0,9.0,13.0,2.1,130.0,26.0,ND,10.0,1.0,34.0
1,14.0,18.0,2.3,130.0,26.0,ND,11.0,1.1,46.0
2,19.0,30.0,2.7,130.0,25.0,ND,12.0,1.1,46.0
3,31.0,50.0,2.7,130.0,25.0,ND,12.0,1.1,46.0
4,51.0,70.0,2.7,130.0,21.0,ND,11.0,1.1,46.0
5,71.0,180.0,2.7,130.0,21.0,ND,11.0,1.1,46.0

#Elements

In [72]:
page_6 = pdf.pages[5]
#raw=[]
#raw.extend(page_4.extract_text().split('\n'))
raw = page_6.extract_text().replace('–', ' ').split('\n')
raw

['Dietary Reference Intakes for Calcium and Vitamin D ',
 '1108  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D',
 'Dietary Reference Intakes (DRIs): Recommended Dietary Allowances and  ',
 'Adequate Intakes, Elements ',
 'Food and Nutrition Board, Institute of Medicine, National Academies',
 'm',
 'm m e u us',
 'LGirfoeu Sptage Calcium(mg/d) Chromiu(µg/d) Copper(µg/d) Fluoride(mg/d) Iodine(µg/d) Iron(mg/d) Magnesiu(mg/d) Manganes(mg/d) Molybden(µg/d) Phosphor(mg/d) Selenium(µg/d) Zinc(mg/d) Potassium(g/d) Sodium(g/d) Chloride(g/d)',
 'Infants',
 '  0 6 mo 200* 0.2* 200* 0.01* 110* 0.27* 30* 0.003* 2* 100* 15* 2* 0.4* 0.12* 0.18*',
 '  6 12 mo 260* 5.5* 220* 0.5* 130* 11 75* 0.6* 3* 275* 20* 3 0.7* 0.37* 0.57*',
 'Children',
 '  1 3 y 700 11* 340 0.7* 90 7 80 1.2* 17 460 20 3 3.0* 1.0* 1.5*',
 '  4 8 y 1,000 15* 440 1* 90 10 130 1.5* 22 500 30 5 3.8* 1.2* 1.9*',
 'Males',
 '  9 13 y 1,300 25* 700 2* 120 8 240 1.9* 34 1,250 40 8 4.5* 1.5* 2.3*',
 '  14 18 y 1,300 35* 890 3* 150 11 410 2.2* 43 1,250 55 11 4.7* 1.5* 2.3*',
 '  19 30 y 1,000 35* 900 4* 150 8 400 2.3* 45 700 55 11 4.7* 1.5* 2.3*',
 '  31 50 y 1,000 35* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.5* 2.3*',
 '  51 70 y 1,000 30* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.3* 2.0*',
 '  > 70 y 1,200 30* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.2* 1.8*',
 'Females',
 '  9 13 y 1,300 21* 700 2* 120 8 240 1.6* 34 1,250 40 8 4.5* 1.5* 2.3*',
 '  14 18 y 1,300 24* 890 3* 150 15 360 1.6* 43 1,250 55 9 4.7* 1.5* 2.3*',
 '  19 30 y 1,000 25* 900 3* 150 18 310 1.8* 45 700 55 8 4.7* 1.5* 2.3*',
 '  31 50 y 1,000 25* 900 3* 150 18 320 1.8* 45 700 55 8 4.7* 1.5* 2.3*',
 '  51 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.3* 2.0*',
 '  > 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.2* 1.8*',
 'Pregnancy',
 '  14 18 y 1,300 29* 1,000 3* 220 27 400 2.0* 50 1,250 60 12 4.7* 1.5* 2.3*',
 '  19 30 y 1,000 30* 1,000 3* 220 27 350 2.0* 50 700 60 11 4.7* 1.5* 2.3*',
 '  31 50 y 1,000 30* 1,000 3* 220 27 360 2.0* 50 700 60 11 4.7* 1.5* 2.3*',
 'Lactation',
 '  14 18 y 1,300 44* 1,300 3* 290 10 360 2.6* 50 1,250 70 13 5.1* 1.5* 2.3*',
 '  19 30 y 1,000 45* 1,300 3* 290  9 310 2.6* 50 700 70 12 5.1* 1.5* 2.3*',
 '  31 50 y 1,000 45* 1,300 3* 290  9 320 2.6* 50 700 70 12 5.1* 1.5* 2.3*',
 'NOTE: This table (taken from the DRI reports, see www.nap.edu) presents Recommended ',
 'Dietary Allowances (RDAs) in bold type and Adequate Intakes (AIs) in ordinary type fol-',
 'lowed by an asterisk (*). An RDA is the average daily dietary intake level sufficient to meet ',
 'the nutrient requirements of nearly all (97 98 percent) healthy individuals in a group. It is ',
 'calculated from an Estimated Average Requirement (EAR). If sufficient scientific evidence is ',
 'not available to establish an EAR, and thus calculate an RDA, an AI is usually developed. For ',
 'healthy breast-fed infants, an AI is the mean intake. The AI for other life stage and gender ',
 'groups is believed to cover the needs of all healthy individuals in the groups, but lack of data ',
 'or uncertainty in the data prevent being able to specify with confidence the percentage of ',
 'individuals covered by this intake.',
 'Copyright © National Academy of Sciences. All rights reserved.']

In [73]:

raw = [i.split("'") for i in raw]
raw

[['Dietary Reference Intakes for Calcium and Vitamin D '],
 ['1108  DIETARY REFERENCE INTAKES FOR CALCIUM AND VITAMIN D'],
 ['Dietary Reference Intakes (DRIs): Recommended Dietary Allowances and  '],
 ['Adequate Intakes, Elements '],
 ['Food and Nutrition Board, Institute of Medicine, National Academies'],
 ['m'],
 ['m m e u us'],
 ['LGirfoeu Sptage Calcium(mg/d) Chromiu(µg/d) Copper(µg/d) Fluoride(mg/d) Iodine(µg/d) Iron(mg/d) Magnesiu(mg/d) Manganes(mg/d) Molybden(µg/d) Phosphor(mg/d) Selenium(µg/d) Zinc(mg/d) Potassium(g/d) Sodium(g/d) Chloride(g/d)'],
 ['Infants'],
 ['  0 6 mo 200* 0.2* 200* 0.01* 110* 0.27* 30* 0.003* 2* 100* 15* 2* 0.4* 0.12* 0.18*'],
 ['  6 12 mo 260* 5.5* 220* 0.5* 130* 11 75* 0.6* 3* 275* 20* 3 0.7* 0.37* 0.57*'],
 ['Children'],
 ['  1 3 y 700 11* 340 0.7* 90 7 80 1.2* 17 460 20 3 3.0* 1.0* 1.5*'],
 ['  4 8 y 1,000 15* 440 1* 90 10 130 1.5* 22 500 30 5 3.8* 1.2* 1.9*'],
 ['Males'],
 ['  9 13 y 1,300 25* 700 2* 120 8 240 1.9* 34 1,250 40 8 4.5* 1.5* 2.3*'],
 ['  14 18 y 1,300 35* 890 3* 150 11 410 2.2* 43 1,250 55 11 4.7* 1.5* 2.3*'],
 ['  19 30 y 1,000 35* 900 4* 150 8 400 2.3* 45 700 55 11 4.7* 1.5* 2.3*'],
 ['  31 50 y 1,000 35* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.5* 2.3*'],
 ['  51 70 y 1,000 30* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.3* 2.0*'],
 ['  > 70 y 1,200 30* 900 4* 150 8 420 2.3* 45 700 55 11 4.7* 1.2* 1.8*'],
 ['Females'],
 ['  9 13 y 1,300 21* 700 2* 120 8 240 1.6* 34 1,250 40 8 4.5* 1.5* 2.3*'],
 ['  14 18 y 1,300 24* 890 3* 150 15 360 1.6* 43 1,250 55 9 4.7* 1.5* 2.3*'],
 ['  19 30 y 1,000 25* 900 3* 150 18 310 1.8* 45 700 55 8 4.7* 1.5* 2.3*'],
 ['  31 50 y 1,000 25* 900 3* 150 18 320 1.8* 45 700 55 8 4.7* 1.5* 2.3*'],
 ['  51 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.3* 2.0*'],
 ['  > 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.2* 1.8*'],
 ['Pregnancy'],
 ['  14 18 y 1,300 29* 1,000 3* 220 27 400 2.0* 50 1,250 60 12 4.7* 1.5* 2.3*'],
 ['  19 30 y 1,000 30* 1,000 3* 220 27 350 2.0* 50 700 60 11 4.7* 1.5* 2.3*'],
 ['  31 50 y 1,000 30* 1,000 3* 220 27 360 2.0* 50 700 60 11 4.7* 1.5* 2.3*'],
 ['Lactation'],
 ['  14 18 y 1,300 44* 1,300 3* 290 10 360 2.6* 50 1,250 70 13 5.1* 1.5* 2.3*'],
 ['  19 30 y 1,000 45* 1,300 3* 290  9 310 2.6* 50 700 70 12 5.1* 1.5* 2.3*'],
 ['  31 50 y 1,000 45* 1,300 3* 290  9 320 2.6* 50 700 70 12 5.1* 1.5* 2.3*'],
 ['NOTE: This table (taken from the DRI reports, see www.nap.edu) presents Recommended '],
 ['Dietary Allowances (RDAs) in bold type and Adequate Intakes (AIs) in ordinary type fol-'],
 ['lowed by an asterisk (*). An RDA is the average daily dietary intake level sufficient to meet '],
 ['the nutrient requirements of nearly all (97 98 percent) healthy individuals in a group. It is '],
 ['calculated from an Estimated Average Requirement (EAR). If sufficient scientific evidence is '],
 ['not available to establish an EAR, and thus calculate an RDA, an AI is usually developed. For '],
 ['healthy breast-fed infants, an AI is the mean intake. The AI for other life stage and gender '],
 ['groups is believed to cover the needs of all healthy individuals in the groups, but lack of data '],
 ['or uncertainty in the data prevent being able to specify with confidence the percentage of '],
 ['individuals covered by this intake.'],
 ['Copyright © National Academy of Sciences. All rights reserved.']]

In [74]:
raw = raw[5:36]

In [75]:
Lactation = raw[-3:]
Lactation

[['  14 18 y 1,300 44* 1,300 3* 290 10 360 2.6* 50 1,250 70 13 5.1* 1.5* 2.3*'],
 ['  19 30 y 1,000 45* 1,300 3* 290  9 310 2.6* 50 700 70 12 5.1* 1.5* 2.3*'],
 ['  31 50 y 1,000 45* 1,300 3* 290  9 320 2.6* 50 700 70 12 5.1* 1.5* 2.3*']]

In [76]:
Female = raw[-14:-8]
Female

[['  9 13 y 1,300 21* 700 2* 120 8 240 1.6* 34 1,250 40 8 4.5* 1.5* 2.3*'],
 ['  14 18 y 1,300 24* 890 3* 150 15 360 1.6* 43 1,250 55 9 4.7* 1.5* 2.3*'],
 ['  19 30 y 1,000 25* 900 3* 150 18 310 1.8* 45 700 55 8 4.7* 1.5* 2.3*'],
 ['  31 50 y 1,000 25* 900 3* 150 18 320 1.8* 45 700 55 8 4.7* 1.5* 2.3*'],
 ['  51 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.3* 2.0*'],
 ['  > 70 y 1,200 20* 900 3* 150 8 320 1.8* 45 700 55 8 4.7* 1.2* 1.8*']]

In [77]:
Pregnancy = raw[-7:-4]
Pregnancy

[['  14 18 y 1,300 29* 1,000 3* 220 27 400 2.0* 50 1,250 60 12 4.7* 1.5* 2.3*'],
 ['  19 30 y 1,000 30* 1,000 3* 220 27 350 2.0* 50 700 60 11 4.7* 1.5* 2.3*'],
 ['  31 50 y 1,000 30* 1,000 3* 220 27 360 2.0* 50 700 60 11 4.7* 1.5* 2.3*']]

##lact

In [78]:
newlist = list()
#Iterate over mylist items
for item in Lactation:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Lact = newlist
print(Lact)

[['14', '18', '1300', '44', '1300', '3', '290', '10', '360', '2.6', '50', '1250', '70', '13', '5.1', '1.5', '2.3'], ['19', '30', '1000', '45', '1300', '3', '290', '9', '310', '2.6', '50', '700', '70', '12', '5.1', '1.5', '2.3'], ['31', '50', '1000', '45', '1300', '3', '290', '9', '320', '2.6', '50', '700', '70', '12', '5.1', '1.5', '2.3']]

In [79]:
df = pd.DataFrame (Lact,columns=['Lower age','Upper age','Calcium (mg/d)','Chromium (μg/d)','Copper (μg/d)',
                                 'Fluoride (mg/d)','Iodine (μg/d)','Iron (mg/d)','Magnesium (mg/d)','Manganese (mg/d)',
                                 'Molybdenum (μg/d)','Phosphorus (mg/d)','Selenium (μg/d)','Zinc (mg/d)','Potassium (g/d)','Sodium (g/d)','Chloride (g/d)'])

df

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14,18,1300,44,1300,3,290,10,360,2.6,50,1250,70,13,5.1,1.5,2.3
1,19,30,1000,45,1300,3,290,9,310,2.6,50,700,70,12,5.1,1.5,2.3
2,31,50,1000,45,1300,3,290,9,320,2.6,50,700,70,12,5.1,1.5,2.3

In [80]:
df =df.astype('float')
element_lact = df
element_lact

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14.0,18.0,1300.0,44.0,1300.0,3.0,290.0,10.0,360.0,2.6,50.0,1250.0,70.0,13.0,5.1,1.5,2.3
1,19.0,30.0,1000.0,45.0,1300.0,3.0,290.0,9.0,310.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3
2,31.0,50.0,1000.0,45.0,1300.0,3.0,290.0,9.0,320.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3

##preg

In [83]:
newlist = list()
#Iterate over mylist items
for item in Pregnancy:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Preg = newlist
print(Preg)

[['14', '18', '1300', '29', '1000', '3', '220', '27', '400', '2.0', '50', '1250', '60', '12', '4.7', '1.5', '2.3'], ['19', '30', '1000', '30', '1000', '3', '220', '27', '350', '2.0', '50', '700', '60', '11', '4.7', '1.5', '2.3'], ['31', '50', '1000', '30', '1000', '3', '220', '27', '360', '2.0', '50', '700', '60', '11', '4.7', '1.5', '2.3']]

In [85]:
df = pd.DataFrame (Preg,columns=['Lower age','Upper age','Calcium (mg/d)','Chromium (μg/d)','Copper (μg/d)',
                                 'Fluoride (mg/d)','Iodine (μg/d)','Iron (mg/d)','Magnesium (mg/d)','Manganese (mg/d)',
                                 'Molybdenum (μg/d)','Phosphorus (mg/d)','Selenium (μg/d)','Zinc (mg/d)','Potassium (g/d)','Sodium (g/d)','Chloride (g/d)'])

df

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14,18,1300,29,1000,3,220,27,400,2.0,50,1250,60,12,4.7,1.5,2.3
1,19,30,1000,30,1000,3,220,27,350,2.0,50,700,60,11,4.7,1.5,2.3
2,31,50,1000,30,1000,3,220,27,360,2.0,50,700,60,11,4.7,1.5,2.3

In [86]:
df =df.astype('float')
element_preg = df
element_preg

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14.0,18.0,1300.0,29.0,1000.0,3.0,220.0,27.0,400.0,2.0,50.0,1250.0,60.0,12.0,4.7,1.5,2.3
1,19.0,30.0,1000.0,30.0,1000.0,3.0,220.0,27.0,350.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3
2,31.0,50.0,1000.0,30.0,1000.0,3.0,220.0,27.0,360.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3

##female

In [87]:
newlist = list()
#Iterate over mylist items
for item in Female:
 #split the element string into a list of words
 itemWords = str(item)
 itemWords = itemWords.replace('[','')
 itemWords = itemWords.replace(']','')
 itemWords = itemWords.replace('*','')
 itemWords = itemWords.replace("'", '')
 itemWords = itemWords.replace("y", '')
 itemWords = itemWords.replace(",", '')
 itemWords = itemWords.replace("h", '')
 itemWords = itemWords.replace("i", '')
 itemWords = itemWords.split()

 #extend newlist to include all itemWords
 newlist.append(itemWords)
Fema = newlist
print(Fema)

[['9', '13', '1300', '21', '700', '2', '120', '8', '240', '1.6', '34', '1250', '40', '8', '4.5', '1.5', '2.3'], ['14', '18', '1300', '24', '890', '3', '150', '15', '360', '1.6', '43', '1250', '55', '9', '4.7', '1.5', '2.3'], ['19', '30', '1000', '25', '900', '3', '150', '18', '310', '1.8', '45', '700', '55', '8', '4.7', '1.5', '2.3'], ['31', '50', '1000', '25', '900', '3', '150', '18', '320', '1.8', '45', '700', '55', '8', '4.7', '1.5', '2.3'], ['51', '70', '1200', '20', '900', '3', '150', '8', '320', '1.8', '45', '700', '55', '8', '4.7', '1.3', '2.0'], ['>', '70', '1200', '20', '900', '3', '150', '8', '320', '1.8', '45', '700', '55', '8', '4.7', '1.2', '1.8']]

In [89]:
df = pd.DataFrame (Fema,columns=['Lower age','Upper age','Calcium (mg/d)','Chromium (μg/d)','Copper (μg/d)',
                                 'Fluoride (mg/d)','Iodine (μg/d)','Iron (mg/d)','Magnesium (mg/d)','Manganese (mg/d)',
                                 'Molybdenum (μg/d)','Phosphorus (mg/d)','Selenium (μg/d)','Zinc (mg/d)','Potassium (g/d)','Sodium (g/d)','Chloride (g/d)'])
df['Lower age'][5] = 71
df['Upper age'][5] = 180
df

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,9,13,1300,21,700,2,120,8,240,1.6,34,1250,40,8,4.5,1.5,2.3
1,14,18,1300,24,890,3,150,15,360,1.6,43,1250,55,9,4.7,1.5,2.3
2,19,30,1000,25,900,3,150,18,310,1.8,45,700,55,8,4.7,1.5,2.3
3,31,50,1000,25,900,3,150,18,320,1.8,45,700,55,8,4.7,1.5,2.3
4,51,70,1200,20,900,3,150,8,320,1.8,45,700,55,8,4.7,1.3,2.0
5,71,180,1200,20,900,3,150,8,320,1.8,45,700,55,8,4.7,1.2,1.8

In [90]:
df =df.astype('float')
element_female = df
element_female

,Lower age,Upper age,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,9.0,13.0,1300.0,21.0,700.0,2.0,120.0,8.0,240.0,1.6,34.0,1250.0,40.0,8.0,4.5,1.5,2.3
1,14.0,18.0,1300.0,24.0,890.0,3.0,150.0,15.0,360.0,1.6,43.0,1250.0,55.0,9.0,4.7,1.5,2.3
2,19.0,30.0,1000.0,25.0,900.0,3.0,150.0,18.0,310.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3
3,31.0,50.0,1000.0,25.0,900.0,3.0,150.0,18.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3
4,51.0,70.0,1200.0,20.0,900.0,3.0,150.0,8.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.3,2.0
5,71.0,180.0,1200.0,20.0,900.0,3.0,150.0,8.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.2,1.8

#Combine Data

In [92]:
result = pd.concat([vita_lact, macr_lact,element_lact], axis=1).reindex(vita_lact.index)
result

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14.0,18.0,1200.0,115.0,15.0,19.0,75.0,1.4,1.6,17.0,...,10.0,360.0,2.6,50.0,1250.0,70.0,13.0,5.1,1.5,2.3
1,19.0,30.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,9.0,310.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3
2,31.0,50.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,9.0,320.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3

In [95]:
macr_lact.drop(columns=['Lower age','Upper age'],inplace=True)

,Total Water (L/d),Carbohydrate (g/d),Total Fiber (g/d),Fat (g/d),Linoleic Acid (g/d),a-Linolenic Acid (g/d),Protein (g/d)
0,3.8,210.0,29.0,ND,13.0,1.3,71.0
1,3.8,210.0,29.0,ND,13.0,1.3,71.0
2,3.8,210.0,29.0,ND,13.0,1.3,71.0

In [96]:
element_lact.drop(columns=['Lower age','Upper age'],inplace=True)
element_lact

,Calcium (mg/d),Chromium (μg/d),Copper (μg/d),Fluoride (mg/d),Iodine (μg/d),Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,1300.0,44.0,1300.0,3.0,290.0,10.0,360.0,2.6,50.0,1250.0,70.0,13.0,5.1,1.5,2.3
1,1000.0,45.0,1300.0,3.0,290.0,9.0,310.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3
2,1000.0,45.0,1300.0,3.0,290.0,9.0,320.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3

In [97]:
macr_preg.drop(columns=['Lower age','Upper age'],inplace=True)
element_preg.drop(columns=['Lower age','Upper age'],inplace=True)

In [98]:
macr_female.drop(columns=['Lower age','Upper age'],inplace=True)
element_female.drop(columns=['Lower age','Upper age'],inplace=True)

In [99]:
lact = pd.concat([vita_lact, macr_lact,element_lact], axis=1).reindex(vita_lact.index)
lact

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14.0,18.0,1200.0,115.0,15.0,19.0,75.0,1.4,1.6,17.0,...,10.0,360.0,2.6,50.0,1250.0,70.0,13.0,5.1,1.5,2.3
1,19.0,30.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,9.0,310.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3
2,31.0,50.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,9.0,320.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3

In [101]:
preg = pd.concat([vita_preg,macr_preg,element_preg],axis=1).reindex(vita_preg.index)
preg

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,14.0,18.0,750.0,80.0,15.0,15.0,75.0,1.4,1.4,18.0,...,27.0,400.0,2.0,50.0,1250.0,60.0,12.0,4.7,1.5,2.3
1,19.0,30.0,770.0,85.0,15.0,15.0,90.0,1.4,1.4,18.0,...,27.0,350.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3
2,31.0,50.0,770.0,85.0,15.0,15.0,90.0,1.4,1.4,18.0,...,27.0,360.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3

In [103]:
female =pd.concat([vita_female,macr_female,element_female],axis=1).reindex(vita_female.index)
female

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Iron (mg/d),Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d)
0,9.0,13.0,600.0,45.0,15.0,11.0,60.0,0.9,0.9,12.0,...,8.0,240.0,1.6,34.0,1250.0,40.0,8.0,4.5,1.5,2.3
1,14.0,18.0,700.0,65.0,15.0,15.0,75.0,1.0,1.0,14.0,...,15.0,360.0,1.6,43.0,1250.0,55.0,9.0,4.7,1.5,2.3
2,19.0,30.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,18.0,310.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3
3,31.0,50.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,18.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3
4,51.0,70.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,8.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.3,2.0
5,71.0,180.0,700.0,75.0,20.0,15.0,90.0,1.1,1.1,14.0,...,8.0,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.2,1.8

In [104]:
lact['Type'] = 'Lactation'
lact

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d),Type
0,14.0,18.0,1200.0,115.0,15.0,19.0,75.0,1.4,1.6,17.0,...,360.0,2.6,50.0,1250.0,70.0,13.0,5.1,1.5,2.3,Lactation
1,19.0,30.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,310.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3,Lactation
2,31.0,50.0,1300.0,120.0,15.0,19.0,90.0,1.4,1.6,17.0,...,320.0,2.6,50.0,700.0,70.0,12.0,5.1,1.5,2.3,Lactation

In [105]:
preg['Type']='Pregnancy'
female['Type']='Females'

In [106]:
preg

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d),Type
0,14.0,18.0,750.0,80.0,15.0,15.0,75.0,1.4,1.4,18.0,...,400.0,2.0,50.0,1250.0,60.0,12.0,4.7,1.5,2.3,Pregnancy
1,19.0,30.0,770.0,85.0,15.0,15.0,90.0,1.4,1.4,18.0,...,350.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3,Pregnancy
2,31.0,50.0,770.0,85.0,15.0,15.0,90.0,1.4,1.4,18.0,...,360.0,2.0,50.0,700.0,60.0,11.0,4.7,1.5,2.3,Pregnancy

In [107]:
female

,Lower age,Upper age,Vitamin A (μg/d),Vitamin C (mg/d),Vitamin D (μg/d),Vitamin E (mg/d),Vitamin K(μg/d),Thiamin (mg/d),Riboflavin (mg/d),Niacin (mg/d),...,Magnesium (mg/d),Manganese (mg/d),Molybdenum (μg/d),Phosphorus (mg/d),Selenium (μg/d),Zinc (mg/d),Potassium (g/d),Sodium (g/d),Chloride (g/d),Type
0,9.0,13.0,600.0,45.0,15.0,11.0,60.0,0.9,0.9,12.0,...,240.0,1.6,34.0,1250.0,40.0,8.0,4.5,1.5,2.3,Females
1,14.0,18.0,700.0,65.0,15.0,15.0,75.0,1.0,1.0,14.0,...,360.0,1.6,43.0,1250.0,55.0,9.0,4.7,1.5,2.3,Females
2,19.0,30.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,310.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3,Females
3,31.0,50.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.5,2.3,Females
4,51.0,70.0,700.0,75.0,15.0,15.0,90.0,1.1,1.1,14.0,...,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.3,2.0,Females
5,71.0,180.0,700.0,75.0,20.0,15.0,90.0,1.1,1.1,14.0,...,320.0,1.8,45.0,700.0,55.0,8.0,4.7,1.2,1.8,Females

In [110]:
pieces = {"Lactation": lact, "Pregnancy": preg, "Females": female}

result = pd.concat(pieces)

In [113]:
result.reindex()
result

             Lower age  Upper age  Vitamin A (μg/d)  Vitamin C (mg/d)  \
Lactation 0       14.0       18.0            1200.0             115.0
          1       19.0       30.0            1300.0             120.0
          2       31.0       50.0            1300.0             120.0
Pregnancy 0       14.0       18.0             750.0              80.0
          1       19.0       30.0             770.0              85.0
          2       31.0       50.0             770.0              85.0
Females   0        9.0       13.0             600.0              45.0
          1       14.0       18.0             700.0              65.0
          2       19.0       30.0             700.0              75.0
          3       31.0       50.0             700.0              75.0
          4       51.0       70.0             700.0              75.0
          5       71.0      180.0             700.0              75.0

             Vitamin D (μg/d)  Vitamin E (mg/d)  Vitamin K(μg/d)  \
Lactation 0              15.0              19.0             75.0
          1              15.0              19.0             90.0
          2              15.0              19.0             90.0
Pregnancy 0              15.0              15.0             75.0
          1              15.0              15.0             90.0
          2              15.0              15.0             90.0
Females   0              15.0              11.0             60.0
          1              15.0              15.0             75.0
          2              15.0              15.0             90.0
          3              15.0              15.0             90.0
          4              15.0              15.0             90.0
          5              20.0              15.0             90.0

             Thiamin (mg/d)  Riboflavin (mg/d)  Niacin (mg/d)  ...  \
Lactation 0             1.4                1.6           17.0  ...
          1             1.4                1.6           17.0  ...
          2             1.4                1.6           17.0  ...
Pregnancy 0             1.4                1.4           18.0  ...
          1             1.4                1.4           18.0  ...
          2             1.4                1.4           18.0  ...
Females   0             0.9                0.9           12.0  ...
          1             1.0                1.0           14.0  ...
          2             1.1                1.1           14.0  ...
          3             1.1                1.1           14.0  ...
          4             1.1                1.1           14.0  ...
          5             1.1                1.1           14.0  ...

             Magnesium (mg/d)  Manganese (mg/d)  Molybdenum (μg/d)  \
Lactation 0             360.0               2.6               50.0
          1             310.0               2.6               50.0
          2             320.0               2.6               50.0
Pregnancy 0             400.0               2.0               50.0
          1             350.0               2.0               50.0
          2             360.0               2.0               50.0
Females   0             240.0               1.6               34.0
          1             360.0               1.6               43.0
          2             310.0               1.8               45.0
          3             320.0               1.8               45.0
          4             320.0               1.8               45.0
          5             320.0               1.8               45.0

             Phosphorus (mg/d)  Selenium (μg/d)  Zinc (mg/d)  Potassium (g/d)  \
Lactation 0             1250.0             70.0         13.0              5.1
          1              700.0             70.0         12.0              5.1
          2              700.0             70.0         12.0              5.1
Pregnancy 0             1250.0             60.0         12.0              4.7
          1              700.0             60.0         11.0              4.7
          2              700.0             60.0         11.0              4.7
Females   0             1250.0             40.0          8.0              4.5
          1             1250.0             55.0          9.0              4.7
          2              700.0             55.0          8.0              4.7
          3              700.0             55.0          8.0              4.7
          4              700.0             55.0          8.0              4.7
          5              700.0             55.0          8.0              4.7

             Sodium (g/d)  Chloride (g/d)       Type
Lactation 0           1.5             2.3  Lactation
          1           1.5             2.3  Lactation
          2           1.5             2.3  Lactation
Pregnancy 0           1.5             2.3  Pregnancy
          1           1.5             2.3  Pregnancy
          2           1.5             2.3  Pregnancy
Females   0           1.5             2.3    Females
          1           1.5             2.3    Females
          2           1.5             2.3    Females
          3           1.5             2.3    Females
          4           1.3             2.0    Females
          5           1.2             1.8    Females

[12 rows x 39 columns]

In [120]:
result.to_csv('Dietary_Reference_Intakes_(DRIs).csv',encoding='UTF-8', index=False)